*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: end;
    height: 13vh;
    background-color: palevioletred;
}
main{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#card_holder{
    transition: all 0.2s ease-in-out;
    background-color: aqua;
    width:60%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    position: relative;
    height: 380px;
    width: 300px;
    background-color: blueviolet;
    overflow: hidden;
    display: flex;
    transition: all 0.2s ease-in-out;
   
}
.description{
    align-self: end;
}
.slide{
    transition: all 0.2s ease-in-out;
    display: flex;
    position: absolute;
    left:0;
    
}
.slide:hover{
    transition: all 0.2s ease-in-out;
    left:-300px;
}